<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Resend unlock instructions</h2>
  </div>
  <div class="panel-body">

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <fieldset class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </fieldset>

    <div class="actions">
      <%= f.submit "Resend unlock instructions" %>
    </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
