<%= form_for(@matrix) do |f| %>
<% if @matrix.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@matrix.errors.count, "error") %>prohibited this matrix from being saved:</h2>
  <ul>
    <% @matrix.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<fieldset class="form-group">
  <%= f.label :name%><br>
  <%= f.text_field :name, class: 'form-control', placeholder: "What is matrix purpose?" %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :value %><br>
  <%= f.text_field :value, list: :value_types, placeholder: "Choose a metric for the cost: Euros, Dollars, hours, ... ", class: 'form-control'  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :cost %><br>
  <%= f.text_field :cost, list: :value_types, placeholder: "Choose a metric for the value: Euros, Dollars, hours, ... ", class: 'form-control'  %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :shared, 'Sharing options' %>
  <div>
      <%= f.radio_button :shared, 'true', :checked => true %>
      <%= f.label :shared_true, 'I want to share this matrix to the world.' %>
  </div>
  <div class="radio <%= 'disabled' if !user_signed_in? %>">
    <%= f.radio_button :shared, 'false', checked: false, disabled: !user_signed_in?  %>
    <%= f.label :shared_false, 'Only people with the link can see and use the matrix.' %>
  </div>
</fieldset>

<%= f.submit class: "btn btn-primary" %>

<% end %>

<datalist id="value_types">
  <option value="Euros"></option>
  <option value="Dollars"></option>
  <option value="Days"></option>
  <option value="Hours"></option>
  <option value="Minutes"></option>
  <option value="Scale"></option>
</datalist>
