<%= form_for(@matrix) do |f| %>
  <% if @matrix.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matrix.errors.count, "error") %> prohibited this matrix from being saved:</h2>

      <ul>
      <% @matrix.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Choose the metric for the <%= f.label :value %><br>
    <%= f.text_field :value, list: :value_types, placeholder: "Euros, Dollars, hours, ... " %>
  </div>
  <div class="field">
    Choose the metric for the <%= f.label :cost %><br>
    <%= f.text_field :cost, list: :value_types, placeholder: "Euros, Dollars, hours, ... " %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<datalist id="value_types">
    <option value="Euros"></option>
    <option value="Dollars"></option>
    <option value="Days"></option>
    <option value="Hours"></option>
    <option value="Minutes"></option>
    <option value="Scale"></option>
</datalist>
