<table class='table'>
  <thead>
    <caption>
      <h3><%=title%></h3>
    </caption>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Cost</th>
      <th>Shared</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody class='thead-default'>
    <% if matrices.length > 0 %>
    <% matrices.each do |matrix| %>
    <tr>
      <td><%= matrix.name %></td>
      <td><%= matrix.value %></td>
      <td><%= matrix.cost %></td>
      <td><%= matrix.shared %></td>
      <td><%= link_to 'Show', matrix %></td>
      <td><%= link_to('Edit', edit_matrix_path(matrix)) unless matrix.user != current_user %></td>
      <td><%= link_to('Destroy', matrix, method: :delete, data: { confirm: 'Are you sure?' })  unless matrix.user != current_user %></td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="7">None yet.</td>
    </tr>
    <% end %>
  </tbody>
</table>
