<!DOCTYPE html>
<html>
  <head>
    <title>ValoritizationReact</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="dispib">
      <span class="title prxl plxl">Valoritization.com</span>
      <nav class="dispib mlxl">
        <ul class="button-group">
          <li>
            <%= link_to fa_icon('home'), {controller: :welcome}, title: 'Home' %>
          </li>
          <li>
            <%= link_to fa_icon('file-o'), {action: :new, controller: :matrices}, title: 'Create a new matrix' %>
          </li>
          <li>
            <%= link_to fa_icon('list-alt'), {controller: :matrices}, title: 'List matrices' %>
          </li>
          <li>
            <%= link_to fa_icon('envelope'), {controller: :about}, title: 'About' %>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer class="bottom-bar">
      <span class="prl">&copy; Valoritization 2015</span>
    </footer>

  </body>
</html>
