<!DOCTYPE html>
<html>
    <head>
        <title>ValoritizationReact</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top mbn">
            <div class="container-fluid row" style="background-color: black;">
                <div class='col-md-4 hidden-xs hidden-sm'>
                    <span class='navbar-brand'><%= link_to 'Valoritization.com', root_path, title: 'Home' %></span>
                </div>
                <div class='col-md-4 col-xs-7'>
                    <%= link_to fa_icon('file-o'), new_matrix_path, title: 'Create a new matrix', class: 'btn btn-primary navbar-btn'  %>
                    <%= link_to fa_icon('list-alt'), matrices_path, title: 'List matrices', class: 'btn btn-primary navbar-btn'  %>
                    <%= link_to fa_icon('envelope'), about_path, title: 'About', class: 'btn btn-primary navbar-btn' %>
                </div>
                <div class='col-md-4 col-xs-5'>
                    <% if user_signed_in? %>
                    <%= link_to "#{fa_icon('user')}<span class='hidden-xs hidden-sm'>&nbsp;My account</span>".html_safe, edit_user_registration_path, class: 'btn btn-primary navbar-btn'  %>
                    <%= link_to fa_icon('sign-out'), destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn'  %>
                <% else %>
                    <%= link_to "#{fa_icon('user-plus')}&nbsp;Log in".html_safe, new_user_session_path, class: 'btn btn-primary navbar-btn'  %>
                    <% end %>
                </div>
            </div>
        </nav>
        <%= flash_messages %>
        <%= yield %>
    </div>
</body>
</html>
