<!DOCTYPE html>
<html>
  <head>
    <title>ValoritizationReact</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <span class="title prxl plxl">Valoritization.com</span>
        <%= link_to fa_icon('home'), {controller: :welcome}, title: 'Home', class: 'btn btn-default navbar-btn'  %>
        <%= link_to fa_icon('file-o'), {action: :new, controller: :matrices}, title: 'Create a new matrix', class: 'btn btn-default navbar-btn'  %>
        <%= link_to fa_icon('list-alt'), {controller: :matrices}, title: 'List matrices', class: 'btn btn-default navbar-btn'  %>
        <%= link_to fa_icon('envelope'), {controller: :about}, title: 'About', class: 'btn btn-default navbar-btn' %>
      </div>
    </nav>

    <%= yield %>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <span class="prl">&copy; Valoritization 2015</span>
      </div>
    </nav>
  </body>
</html>
